<% if @user.image.attached? %>
  <%= image_tag url_for(@user.image), alt: "User image" %>
<% else %>
  <% default_width = 100 %>
  <% default_height = 100 %>
  <%= image_tag "no_image.jpg", alt: "Default Image", width: default_width, height: default_height %>
<% end %>
<h3><%= @user.name %></h3>
<h3><%= @user.introduction %></h3>
<button>自分のuserのedit</button>
<h1>New book</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opinion %>
  <%= f.submit 'Create Book' %>
<% end %>

<% @books.each do |book| %>
  <br>
  <p><%= link_to book.title, books_path %></p>
  <%=  %>
  <br>
  <%= book.opinion %>
  <br>
<% end %>