<%= render 'users/user_info', user: @user, book: @book %>
  <br>
<p><%= link_to @user.name, user_path(@user) %></p>
  <br>
<p><%= link_to @book.title, book_path(@book) %></p>
  <br>
<p><%= @book.opinion %></p>
  <br>
<% if current_user.id == @book.user_id %>
  <a class="btn btn-sm btn-success edit-button" href="<%= edit_book_path(@book) %>">Edit</a>
  <a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy-button" rel="nofollow" data-method="delete" href="<%= book_path(@book) %>">Destroy</a>
<% end %>
